a{
	color: #E65FFE;
}
html, body{
	margin: 0;
	height : 100%;
}
input{
	border: 0 none; 
	width: 130px;
	height: 35px;
}
#imagesFont{
	font-family: 'Product Sans',sans-serif;
	font-size: 20px;
	color:#3c699f;
	position: relative;
	bottom: -140px;
	right: -125px;
}
#engine{
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translatex(-50%);
}
#searchBar{
	margin:7px;
	width: 520px;
	height: 45px;
	border-radius: 25px;
	border: solid;
	border-width: thin;
	background-color: white;
	font-size: 25px;
	background: url("https://img.icons8.com/2266EE/search") no-repeat left;
	background-size: 20px;
	background-color: white;
	padding-left:30px;
	position: relative;
}
#searchIcon{
	background: url("https://img.icons8.com/2266EE/search") no-repeat; 
	background-size:30px; 
	width: 32px; 
	height: 32px; 
	overflow: visible;
	position: relative;
	left: -46px;
	bottom: -5px;
}
#darkSwitch{
	position: absolute;
	opacity: 0;
}
#darkSwitch:checked ~ #pageColor {
	background-color: #202020;
	color: white;
}
#darkSwitch:checked ~ #darkFont {
	display: none;
}
#darkSwitch:checked ~ #lightFont {
	display: block;
	color: white;
}
#darkSwitch:checked ~ #regSearch {
	background-color: #363636;
	color: white;
}
#darkSwitch:checked ~ #lucky {
	background-color: #363636;
	color: white;
}
#lightFont {
	display: none;
}
#pageColor{
	margin: 0;
	height : 100%;
}
.p-blue{ 
	color:#4285F4; 
}
.o-red{ 
	color:#DB4437; 
}
.o-yellow{ 
	color:#F4B400; 
}
.d-blue{ 
	color:#4285F4;
}
.l-green{ 
	color:#0F9D58; 
}
.e-red { 
	display:inline-block;
	transform:rotate(-20deg); 
	color:#DB4437;
}